<section class="page__share">
  <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% assign social_share_url = page.url | absolute_url | url_encode %}
  {% assign social_share_title = page.title | markdownify | strip_html | strip_newlines | url_encode %}
  <a
    class="btn btn--twitter"
    href="https://twitter.com/intent/tweet?url={{ social_share_url }}&amp;text={{ social_share_title }}">
    <i aria-hidden="true" class="fab fa-fw fa-twitter"></i>
    <span>Twitter</span>
  </a>
  <a
    class="btn btn--facebook"
    href="https://www.facebook.com/sharer/sharer.php?u={{ social_share_url }}">
    <i aria-hidden="true" class="fab fa-fw fa-facebook"></i>
    <span>Facebook</span>
  </a>
  <a
    class="btn btn--linkedin"
    href="https://www.linkedin.com/sharing/share-offsite?url={{ social_share_url }}">
    <i aria-hidden="true" class="fab fa-fw fa-linkedin"></i>
    <span>LinkedIn</span>
  </a>
  <a
    class="btn btn--pocket"
    href="https://getpocket.com/save?url={{ social_share_url }}">
    <i aria-hidden="true" class="fab fa-fw fa-get-pocket"></i>
    <span>Pocket</span>
  </a>
  <a
    class="btn btn--hatena-bookmark"
    href="https://b.hatena.ne.jp/entry/{{ social_share_url }}">
    <i aria-hidden="true" class="fab fa-fw fa-hatena-bookmark"></i>
    <span>Hatena</span>
  </a>
</section>
