// Layout options
.no-sidebar {
  .sidebar {
    display: none;
  }
  .page {
    @include breakpoint($large) {
      width: 100%;
    }
    @include breakpoint($x-large) {
      width: 100%;
    }
  }
}

// Brand buttons
.btn {
  @each $brand, $color in (
    (pocket, $pocket-color),
  ) {
    &--#{$brand} {
      @include yiq-contrasted($color);
      &:visited {
        @include yiq-contrasted($color);
      }
      &:hover {
        @include yiq-contrasted(mix(#000, $color, 20%));
      }
    }
  }
}
